/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fdf6e3;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* https://stackoverflow.com/questions/25959129/aligning-rotated-buttons-easily */
.rotate {
  position: absolute;
  top: 0;
  left: 38px;
  height: 40px;
  width: 100vh;
  background: #268bd2;
  transform: rotate(90deg);
  transform-origin: left top;
}

.rotate span {
  display: inline;
  float: left;
  color: #fff;
  padding: 10px;
  padding-left: 20px;
}

.rotate span:hover {
  color: #586e75;
}

/* other */
.menu-button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #657b83;
  font-size: 16px;
  color: #fff;
}

.menu-button:hover {
  background-color: #586e75;
}

.menu-item: {
  padding-top: 20px;
  padding: 10px 5px 10px 5px;
}

/* TODO */
div:focus {
  outline: 0;
}
canvas:focus {
  outline: 0;
}
